* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(222, 222, 222);
  border-radius: 10px;
  background: none;
  color: rgb(222, 222, 222);
  padding: 10px;
}

.dots {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(222, 222, 222);
}

.top-left {
  align-self: flex-start;
}

.center {
  margin: auto;
}

.bottom-right {
  align-self: flex-end;
}

.left-right {
  width: calc(200px - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
