* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: rgb(222, 222, 222);
  font-family: "Shrikhand", cursive;
  font-size: 5rem;
  margin-top: 2rem;
  /* margin-bottom: 10rem; */
  cursor: pointer;
}

.six {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 7px solid rgb(222, 222, 222);
  border-radius: 10px;
  background: none;
  color: rgb(222, 222, 222);
  padding: 10px;
  cursor: pointer;
}

.dots {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(222, 222, 222);
}

.top-left {
  align-self: flex-start;
}

.center {
  margin: auto;
}

.bottom-right {
  align-self: flex-end;
}

.left-right {
  width: calc(200px - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twenty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.twenty-img {
  height: 225px;
  width: 225px;
}

.twenty-roll {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(222, 222, 222);
  position: absolute;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.six-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1.5px solid rgb(222, 222, 222);
  border-radius: 5px;
  background: none;
  color: rgb(222, 222, 222);
  padding: 5px;
  cursor: pointer;
}

.dots-small {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: rgb(222, 222, 222);
}

.left-right-small {
  width: calc(50px - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twenty-small {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
